/*Shahzod Maxammatov*/
/*Tel:(90) 192-99-00*/
/*Telegram:@Shakhzod_Makhammatov*/

@import "fonts.css";
*{margin: 0;padding: 0;}
:root{
   --q_r: 'QuicksandBold-Regular';
    --white: #ffffff;
    --color1: #f9f9f9;
    --color2: #333333;
    --color3: #424242;
    --color4: #cccccc;
    --color5: #aa9b77;
    --color6: #f5f6f7;
}
/*-------HEADER BEGIN-------*/
header {
    height: 100vh;
    background: url("../img_-_18/header-bg.png") no-repeat center center / cover;
}
header .nav-link {
    color: var(--white)!important;
    font-family: var(--q_r);
    transition: all .2s ease-in-out;
}
header .nav-link:hover {
    color: #64ffe7!important;
}
header h2 {
    color: var(--white);
    font-family: var(--q_r);
    font-size: 40px;
    letter-spacing: 2px;
    max-width: 794px;
    margin-top: 180px;
}
header p {
    color: var(--white);
    font-family: var(--q_r);
    font-size: 14px;
    max-width: 550px;
    text-align: center;
}
/*-------HEADER END-------*/

/*SECTION BEGIN*/

section  .section_menu {
    height: 130px;
    background-color: var(--color1);
    display: flex;
    align-items: center;
}
section  .items_block .menBx {
    margin: 80px 0px 80px;
}
section .section_menu .nav-link {
    color: var(--color2);
    font-family: var(--q_r);
    font-weight: 700;
    text-transform: uppercase;
}
section .section_menu .nav-link:hover {
    color: #857f7d;
}
section .section_menu button {
    font-family: var(--q_r);
    background-color: #aa9b77;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 1.4px;
    padding: 16px 28px;
    transition: all .4s ease;
}
section .section_menu button:hover {
    background-color: transparent;
    border-color: #0b2e13;
    letter-spacing: 1.8px;
}
section  .items_block .menBx , section  .items_block .womenBx  {
    margin: 80px 0px 80px;
}
section .menBx h4 {
    color: var(--color3);
    font-family: var(--q_r);
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 1.5px;
}
section .menBx h4:after {
    content: '';
    width: 90%;
    height: 3px;
    background-color: var(--color4);
    position: absolute;
    right: 15px;
    top: 50%;
}
section .womenBx h4 {
    color: var(--color3);
    font-family: var(--q_r);
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 1.5px;
    text-align: right;
}
section .womenBx h4:after {
    content: '';
    width: 85%;
    height: 3px;
    background-color: var(--color4);
    position: absolute;
    left: 20px;
    top: 50%;
}
section .items_block .itemBx{
    padding: 25px 0;
    background-color: var(--color6);
    border: 4px solid transparent;
    transition: all .3s ease-in-out;
}
section .items_block .itemBx:hover {
    border: 4px solid #aa9b77;
    cursor: pointer;
}
section .items_block .itemBx h5 {
    color: var(--color3);
    font-family: var(--q_r);
    font-weight: 700;
    text-transform: uppercase;
}
section .items_block .itemBx select {
    border: 0;
    background-color: transparent;
    outline: none;
        color: var(--color3);
    font-family: var(--q_r);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
section .items_block .itemBx select option {
            color: var(--color3);
    font-family: var(--q_r);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
section .items_block .itemBx .imgBx{
    width: 220px;
    height: 250px;
    margin: 50px auto;
}
section .items_block .itemBx h2{
    color: var(--color5);
    font-family: var(--q_r);
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
}
section .items_block .itemBx .cost{
    color: var(--color3);
    font-family: var(--q_r);
    font-size: 20px;
    text-transform: uppercase;
}
section .about_us {
    margin-top: 100px;
    padding: 65px 0px 140px;
    background-color: var(--color5);
}
section .about_us h2 {
    font-family: var(--q_r);
    font-size: 28px;
    color: #837659;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
}
section .about_us p {
    max-width: 455px;
    font-family: var(--q_r);
    font-size: 18px;
    color: var(--color3);
    text-align: center;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}
/*SECTION END*/



/*FOOTER BEGIN*/
footer .footer_top {
    padding: 25px 0;
    background-color: #535253;
}
footer .footer_top h4 i {
    color: #424242;
    font-size: 24px;
}
footer .footer_top h4 {
    color: var(--white);
    font-family: var(--q_r);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.2px;
}
footer  .footer_text {
    padding: 100px 0px;
    background-color: var(--color3);
}
footer  .footer_text h2 {
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--q_r);
    font-size: 21px;
    letter-spacing: 1.2px;
}
footer .footer_text p {
    max-width: 292px;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--q_r);
    font-size: 8px;
    line-height: 15px;
    margin-top: 10px;
    letter-spacing: 1px;
}
footer .footer_text .nav-link {
    padding: 0.5rem 0;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--q_r);
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 11px;
    margin-top: 24px;
}
footer .footer_text .nav-link:hover {
    color: #3feebd;
}
footer .footer_text h5 {
    color: var(--white);
    font-family: var(--q_r);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.2px;
}
/*FOOTER END*/







.b {
    border: 2px solid yellow;
}